h1 {
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
}

.sort {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
}

.item {
    background-color: black;
    width: 10px;
    align-items: center;
    border-radius: 10px;
}